<div class="row">
  <div class="col-md-3">
    <div class="well stat-well">
      <h4>Total Completed <small class="pull-right"><%= Record.count %></small></h4>

      <h4>Total Correct <small class="pull-right"><%= Record.all.where(result: true).count %></small></h4>

      <h4>Current Average <small class="pull-right"><%= (Record.count!=0)? (Record.all.where(result: true).count.to_f / Record.count * 100).round : 0%> %</small></h4>
    </div>
  </div>
  <div class="col-md-9">    
    <div class="well mult-well">
      <% if flash[:record] %>
        <h2>
          <%= parse(@item, answer = true) %>
        </h2>
        <h2>
          Your answer <%= @record.event.response %> was <%= (@record.result)? "correct" : "incorrect" %>.
        </h2>
    
        <!--
        <% if !@record.result %>
          <h2>
            The correct answer is <%= @item.answer %>.  
          </h2>
        <% end %>
        //-->
        
        <!--
        <%= button_to "Show me how to solve this!", :practice, method: "get", id: "solve", class: "btn btn-primary btn-lg" %>
        -->
        
        <%= button_to "Try another problem.", :practice, method: "get", id: "another", class: "btn btn-primary btn-lg" %>
    
        <% flash[:record] = nil %>
    
        <% #TODO: add buttons to show solution(s)%>
      <% else %>
  
        <%= form_for @event, url: event_url(@event), html: { role: "form", autocomplete: "off" } do |f| %>
          <div class="form-group">
            <h2>
              <%= parse(@item) %>
            </h2>
          
            <%= f.text_field :response, id: "response", class: "form-control user-input" %>
          </div>
      
          <%= f.submit "Submit", class: "btn btn-primary btn-lg" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="well stat-well" style="display: none;">
    </div>
  </div>
</div>

<script>
  if($("#response").length > 0) {
    $("#response").focus();
  } else {
    $("#another").focus();
  };  
</script>
